@{
    ViewData["Title"] = "Home Page";
}
@model List<News>
@section styles{
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/slider.css" />
}
<div class="slider-container">


    <div class="slider">
        <div class="slider-arrow  slider-arrow_prev">
            <i class="fas fa-chevron-left slider-left-arrow"></i>
        </div>
        <div class="slider-arrow slider-arrow_next">   <i class="fas fa-chevron-right slider-right-arrow"></i></div>

        <div class="slider-content">
            @foreach (var item in Model)
            {
                <a class="slider-item" href="/home/details/@item.Id">
                    <img alt=""
                         class="slider-item-img"
                         src='@Url.Content($"~/news-images/{item.FileName}")' />
                    <div class="slider-item-content">
                        <div class="slider-item-meta-container">
                            <div class="slider-item-meta">
                                <span class="slider-item-date"> @item.Date.Day @item.Date.ToString("MMM")</span>
                                <span class="slider-item-time">@item.Date.ToString("HH:mm")</span>
                                <span class="slider-item-views">@item.Views</span>
                            </div>
                        </div>
                        <div class="slider-item-text">
                            <div class="slider-item-title">
                                @item.Title
                            </div>
                            <div class="slider-item-description"></div>
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
</div>
<section class="news-list">
    @foreach (var news in Model)
    {
        <div class="news-item">
            <a class="news-item-inner" href="/home/details/@news.Id">
                <div class="news-item-img-container">
                    <div class="news-item-img" style="background: url('@Url.Content($"~/news-images/{news.FileName}")');"></div>
                </div>
                <div class="news-item-content">
                    <div class="when">
                        <div class="when-date">
                            <div class="date-day">@news.Date.Day&nbsp;</div>
                            <div class="date-month">@news.Date.ToString("MMM")</div>
                            <div class="date-year">@news.Date.Year</div>
                        </div>
                        <div class="when-time">@news.Date.ToString("HH:mm")</div>
                    </div>
                    <div class="title">
                        @news.Title
                    </div>
                    <div class="description"></div>
                </div>
            </a>
            <div class="stats" data-id="@news.Id">
                <div class="stats-item-container stats-like-active stats_likes">
                    <span class="stats-item">@news.Likes</span>
                </div>
                <div class="stats-item-container stats-like-active stats_dislikes">
                    <span class="stats-item">@news.Dislikes</span>
                </div>
                <div class="stats-item-container stats_views">
                    <span class="stats-item">@news.Views</span>
                </div>
            </div>
        </div>
    }
</section>

@section Scripts{
    <script>
        $(function () {

            var headerContainer = $(".header-container");
            var sticky = $(headerContainer).offset().top;
            $(window).scroll(function () {

                if ($(window).scrollTop() > sticky) {
                    $(headerContainer).addClass("sticky")

                }
                else if ($(window).scrollTop() == sticky) {
                    $(headerContainer).removeClass("sticky");
                }

            })
            //Slider written here
            var countOfSliderImage = $(".slider-content .slider-item").length;
            var margin = 0;
            var i = 0;
            setInterval(function () { addMargin() }, 5000);

            $(document).on("click", ".slider-arrow", function () {
                if ($(this).hasClass("slider-arrow_next")) {
                    if ((countOfSliderImage - 1) == i) {
                        margin = 0
                        i = 0
                    }
                    else {
                        margin -= 620;
                        i++
                    }
                    console.log(i)
                    $(".slider-content").css({
                        marginLeft: '' + margin + '' + 'px'

                    })
                }
                else if ($(this).hasClass("slider-arrow_prev")) {
                    console.log("asd")

                    if (i == 0) {
                        margin = (-620) * (countOfSliderImage - 1)
                        i = countOfSliderImage - 1
                    }
                    else {
                        margin += 620;
                        i--
                    }
                    console.log(i)
                    $(".slider-content").css({
                        marginLeft: '' + margin + '' + 'px'

                    })
                }
            })
            function addMargin() {

                if ((countOfSliderImage - 1) == i) {
                    margin = 0
                    i = 0
                }
                else {
                    margin -= 620;
                    i++
                }
                console.log(i)
                $(".slider-content").css({
                    marginLeft: '' + margin + '' + 'px'

                })
            }
        })
    </script>


}
